<%- include('layouts/header'); -%> <%- include('layouts/nav'); -%>
<main>
  <h2>Welcome to blogs page</h2>
  <p>
    Click on AllPosts link to login or login button and then
    edit/view/delete/add pages of the cars for which you want to post a blog
  </p>
  <p class="indexPageImage">
    <img src="/Images/bmw.jpg" />
  </p>
</main>
<%- include('layouts/footer'); -%>
